altgraph==0.17.3
appdirs==1.4.4
capstone==4.0.2
cffi==1.15.1
cmsis-pack-manager==0.4.0
colorama==0.4.6
future==0.18.3
hidapi==0.14.0
importlib-metadata==6.7.0
importlib-resources==5.12.0
intelhex==2.3.0
intervaltree==3.1.0
lark==1.1.7
libusb-package==1.0.26.2
milksnake==0.1.5
natsort==8.4.0
pefile==2023.2.7
prettytable==2.5.0
psutil==5.9.5
pycparser==2.21
pyelftools==0.29
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.6
pylink-square==0.14.3
pyocd==0.33.1
pyocd-pemicro==1.1.5
pypemicro==0.1.11
pyusb==1.2.1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
six==1.16.0
sortedcontainers==2.4.0
typing-extensions==4.7.1
wcwidth==0.2.6
zipp==3.15.0
